/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
  width: 100%;
}

div {
  border: 1px;
  border-color: red;
}

.phones {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  padding: 40px 0 0 60px;
  max-width: 100px;
}

.logo-button {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  margin-left: 620px;
  margin-top: 40px;
}

.main-body {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  max-width: 500px;
  margin-right: 60px;
  margin-top: 140px;

}

.main-body h1 {
  padding: 20px 40px 20px 20px;
}

.main-body p {
  padding: 10px;
}

.main-body img {
  padding: 0 0 0 20px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #06365f;
}

button {
  padding: 10px;
  background-color: #1c5380;
  border: 1px; 
  border-color: #06365f;
  width: 105px;
  height: 40px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  color: white;
}

nav {
  margin: 0 auto;
  text-align: center;
}

nav ul {
  padding: 0 10px 0 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #1c5380;
}

li p {
  font-size: 10px;
  color: #CCCCCC;
  padding-left: 7px;
}
